<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <!-- dev.esoft.com\MSSQL2005-->
    <!--<add name="ConnectionString" connectionString="server~+COcNV31tXdwhxSNeAvUtU6+CfLXZXWGFg8eOBiRnWrdJNFWDOhHbIxtTBM/sA2L;database~ytQEfJ4+D0i+fGILDtv1UA3Hk+VHaRT46fhvIoDXPac=;user id~9Q+GVomEx4HCokQ+c35XS58E2UJpaiKtKH5SK5ZWMXU=;password~2N+Un4wzQfyyT+ngBGgoHfWpo+PpPxYNj3n9/97XTAQ=;Connect Timeout~30;Connection Lifetime~180;Pooling~true;MultipleActiveResultSets~True;" providerName="System.Data.SqlClient" />-->

    <!---DEV\MSSQL2008R2 V6.0.Dev.Test -->
    <!-- <add name="ConnectionString" connectionString="server~2N+03xjxZ9KbdTbWjzMD8sSoTG57Op9s2x5rkWcP7yY=;database~ytQHMM1gNv/usIcDs7dmFb8WMgrKzKFKwfZ4+zkSnGg=;user id~+COcNV31qeDMxqv/hz3llQ==;password~+COcNV31qeDMxqv/hz3llQ==;Connect Timeout~30;Connection Lifetime~180;Pooling~true;MultipleActiveResultSets~True;" providerName="System.Data.SqlClient" /> -->

    <!--- dev.esoft.com\MSSQL2005 TAPV6.Dev  -->
    <!-- <add name="ConnectionString" connectionString="server~+COcNV31tXdwhxSNeAvUtU6+CfLXZXWGFg8eOBiRnWrdJNFWDOhHbIxtTBM/sA2L;database~yE5Jes0Lo0M6b26XBANMmnKnvT78jKJRx2Lp2K9z7AY=;user id~9Q+GVomEx4HCokQ+c35XS58E2UJpaiKtKH5SK5ZWMXU=;password~2N+Un4wzQfyyT+ngBGgoHfWpo+PpPxYNj3n9/97XTAQ=;Connect Timeout~30;Connection Lifetime~180;Pooling~true;MultipleActiveResultSets~True;" providerName="System.Data.SqlClient" /> -->

    <!--- dev.esoft.com\MSSQL2005 V6.0.Dev  -->
    <add name="ConnectionString" connectionString="server~2N+03xjxZ9KbdTbWjzMD8sSoTG57Op9s2x5rkWcP7yY=;database~ytQHMM1gNv/usIcDs7dmFYGzSS9toEg7IfVwmIDjgH8=;user id~+COcNV31qeDMxqv/hz3llQ==;password~+COcNV31qeDMxqv/hz3llQ==;Connect Timeout~30;Connection Lifetime~180;Pooling~true;MultipleActiveResultSets~True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
