<div>
    <div style="width:100%;padding-bottom:1%;float:left;margin-top:5px;">
        <div style="text-overflow:ellipsis;width:690px;overflow:hidden;" [title]=entityName>Part:&nbsp;<b>{{entityName}}</b></div>

    </div>
    <!--</div>-->
    <tabs [selectedTab]="selectedTab" (getSelectedTab)="getSelectedTab($event)" (onTabClose)="onTabClose($event)" [deleteIndex]="deleteIndex" id="partsAEC">
        <tab tabTitle="Equipment Classes" closeButtonVisible="hidden">
            <div style="width:100%;padding-bottom:1%;float:left;">
                <submenu>
                    <sub-menu [menuCard]=types [source]=menuData [count]=gridcount [menuIds]=enableMenu (onSubMenuChange)="onSubMenuChange($event);"> </sub-menu>
                </submenu>
            </div>
            <div style="width:100%;padding-bottom:1%;float:left;height:95%;" *ngIf="itemsSource != undefined">
                <div style="height:100%;">
                    <div style="height:80%;">
                        <gridView [(dataSource)]="itemsSource" [ngClass]="totalItems > itemsPerPage ? 'pagewithPaging':'pagewithoutPaging'" [properties]="inputItems" [columns]="fields" (onSorting)="onSort($event)"></gridView>
                    </div>
                    <div style="height:10%;">
                        <paging [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (onPageChanged)="pageChanged($event);"></paging>
                    </div>
                </div>
            </div>
        </tab>
        <tab tabTitle="New Equipment Class" *ngIf="newAssociateEquipmentTab == true">
            <div><new-associate-equipment [target]="target" [equipmentId]="selectedId" (submitSuccess)="submitSuccess($event)"></new-associate-equipment></div>
        </tab>
    </tabs>
</div>
<slide [width]="200" [position]="position" [type]="dialog" [show]="showSlide" (closeDialog)="closeSlideDialog($event)">

    <div style="width:200px">
        <div>
            Are you sure you want to delete the selected Equipment Class?
        </div>
        <div>

            <div style="width:100%">
                <button  class="Savebutton "type="button" (click)="okDelete($event)">Yes</button>
                <button  class="Savebutton "type="button" (click)="cancelClick($event)">No</button>
            </div>
        </div>
    </div>
</slide>

<style>
    #partsAEC .navbar li {
        width: 170px !important;
    }
</style>