
<div *ngIf="DropdownField!=undefined || moduleId==12" style="width:100%;display:inline-block;">
    <div style="width:50%;float:left;" *ngIf="DropdownField!=undefined" >
        <DropDownListComponent [fieldObject]="DropdownField[0]" (change)="onChangeDataFieldCategory($event.target.value)"></DropDownListComponent>
    </div>
    <div style="width:50%;float:left;" *ngIf="ValidatedDropDown!=undefined" >
        <DropDownListComponent [fieldObject]="ValidatedDropDown[0]" (change)="onChangeValidatedValues($event.target.value)"></DropDownListComponent>
    </div>
    <div style="width:100%;float:left;">
        <table *ngIf="fields!=undefined" style="display:flex;" (Updatetable)="submit($event)" [fieldObject]="fields" [itemSource]="itemsSource" [DataKey]='"Id"' [disableButton]="disableButton"></table>
    </div>
</div>
<slide [width]= width [position]="Position" [type]="dialog" [show]=showSlide (closeDialog)="closeSlideDialog($event)">
    <div>
        <div>
            Distribution Map Settings updated. Do you want to save this as Default Settings?
        </div>
        <div>
            <div style="width:100%">
                <button  class="Savebutton "type="button" (click)="DefaultSetting($event)">Yes</button>
                <button  class="Savebutton "type="button" (click)="cancelClick($event)">No</button>
            </div>
        </div>
    </div>
</slide>
<!--<style>
    :host .colorPickerDiv{ 
       position: relative !important;
    }
    :host #overlayColorPicker {
        width : 30% !important;
    }
</style>-->