<div>
    <submenu>
        <sub-menu [source]=menuData [menuCard]=types [count]=totalItems [menuIds]=enableMenu (onSubMenuChange)="onSubMenuChange($event);"> </sub-menu>
    </submenu>
    <split-view [splitviewObject]="splitviewInput" [pageTitle]="pageTitle" style="height: calc(100% - 35px);">
        <primary-view>
            <div>
                <div [ngClass]="totalItems > itemsPerPage ? 'pagewithPaging':'pagewithoutPaging'">
                    <gridView style="width:100%" [(dataSource)]="itemsSource" [properties]="inputItems" [columns]="fieldObject" [refreshgrid]="refreshgrid" (onSorting)="onSort($event)"></gridView>
                </div>
                <div [style.height]="totalItems >itemsPerPage ? '35px' : '0px'">
                    <paging [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (onPageChanged)="pageChanged($event);"></paging>
                </div>
            </div>
        </primary-view>
        <secondary-view>
            <DocumentCategories-add-edit *ngIf="splitviewInput.showSecondaryView == true" (submitSuccess)="submitReturn($event)" [action]="action" [btnName]="btnName" [selectedId]="inputItems.selectedIds" [fieldDetailsAdd]="fieldDetailsAdd1"> </DocumentCategories-add-edit>
        </secondary-view>
    </split-view>
    <slide [width]="200" [position]="position" [type]="dialog" [show]="showSlide" (closeDialog)="closeSlideDialog($event)">
        <div>
            <div tabindex="0">
                {{message}}
            </div>
            <div>
                <div style="width:100%">
                    <button class="Savebutton " type="button" (click)="okDelete($event)">Yes</button>
                    <button class="Savebutton " type="button" (click)="cancelClick($event)">No</button>
                </div>
            </div>
        </div>
    </slide>
</div>
