<h1>iDrawings V6.0  - Release Features</h1>

<h2>1. V6 Major Features</h2>
<ul>
    <li>Enhanced Cross browser support</li>
    <li>No plug-ins are needed</li>
    <li>Responsive Web design</li>
    <li>Enhanced UI Design</li>
    <li>Lighter version of iDrawings V6 in mobile Devices in all platforms</li>
</ul>



<h2>2. Feature Enhancements</h2>

<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administration</h3>
<ul>
    <li>Import from Excel – User</li>
    <li>Base Team selection for Users</li>
</ul>



<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employees</h3>
<ul><li>Approval Process for Space Planning – Move Project Execution</li></ul>


<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Executive Summary</h3>
<ul><li>Configurable Dashboards</li></ul>

<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scheduling</h3>
<ul>
    <li>Equipment Reservation</li>
    <li>Special Use Room Reservation</li>
    <li>Configurable features like Advance Booking Period, Post Check In time etc.</li>
</ul>


<h2>3. Supporting Mobile Applications</h2>
<ul>
    <li>Hoteling App for Online Check in / Check out</li>
    <li>Task Manager App with Enhanced Work Order features </li>
</ul>


