
        h1 {
            font-size: 1.5em;
            color: #178AE8;
            font-family:Segoe UI
        }

        h2 {
            font-size: 1em;
            color: #178AE8;
            font-family:Segoe UI
        }

        h3 {
            font-size: .8em;
            color: #178AE8;
            font-family:Segoe UI
        }

        ul {
            font-family:Segoe UI;
            font-size: .9em;

        }