<div style="width: 100%;height: 7%;">
    <div style="width: 50%;height: 100%;float: left;line-height: 100%;">
        <submenu>
            <sub-menu [source]=menuData [count]=gridcount [menuIds]=enableMenu (onSubMenuChange)="onSubMenuChange($event);"> </sub-menu>
        </submenu>
    </div>
    <div style="float: right; width: 50%;height: 100%;line-height: 100%;">
        <sort *ngIf="fields" [fieldNames]="fields" [listItems]=sourceData (sortEvent)="onSorting($event)"></sort>
    </div>
</div>
<confirmation (onConfirm)="okDelete($event)"></confirmation>
<list [source]=sourceData [(selectedIds)]="selIds" [datakey]="'Id'">
    <template let-item>
        <card (onSubmition)="onCardSubmit($event)"  [datakeyValue]="item.Id" (inlineDelete)="onDelete($event)">
            <div *ngIf="fields">
                <field [fieldObject]="fields[1]" [fieldValue]="item.resourceType"></field>
                <field [fieldObject]="fields[2]" [fieldValue]="item.resourceCategory"></field>
            </div>
        </card>
    </template>
</list> 
<paging [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (onPageChanged)="pageChanged($event);"></paging> 
