<tabs [selectedTab]="selectedTab" id="review" [deleteIndex]="tabDeleteIndex" (getSelectedTab)="getSelectedTab($event)"><!--(onTabClose)="onTabClose($event)"-->
    <tab tabTitle="Service Requests" closeButtonVisible="hidden">
        <serviceReview-list *ngIf="selectedTab == 0" (addEditClicked)="onServiceRequestAddEditClicked($event)" (itemSourceUpdate)="onServiceListSourceUpdated($event)" [itemsSource]="serviceRequestListSource"
                            [objectId]="objectId" [totalItems]="reviewListTotalItems" [userDetails]="userDetails" [inputItems]="serviceRequestInputItems" [itemsPerPage]="reviewListItemsPerPage" [isTimeSpentSubscribed]="isTimeSpentSubscribed" [isInProgressSubscribed]="isInProgressSubscribed" [reloadData]="reloadData"></serviceReview-list>
    </tab>
    <!--<tab tabTitle={{createReviewTabName}} *ngIf="reviewTabEnabled" closeButtonVisible="show">
        <review-ServiceRequests *ngIf="createRequestEnabled" (submitClick)="onSubmitClick($event)" [action]="action" [btnName]="btnName" [userDetails]="userDetails" [inputItems]="serviceRequestInputItems"
                                [fieldDetailsAdd]="fieldDetailsAdd1" [linkArray]="linkArray" (linkClick)="onLinkClick($event)" [entityCategoryId]="entityCategoryId" [outComeData]="outComeData" [totalCostItems]="totalCostItems"
                                (requesterPermissionUpdate)="onRequesterPermissionUpdate($event)" [isInProgressSubscribed]="isInProgressSubscribed"></review-ServiceRequests>
    </tab>
    <tab tabTitle={{addOnTabName}} *ngIf="addOnTabEnabled" closeButtonVisible="show">
        <attachments *ngIf="invoiceTabEnabled" [attachmentCategoryId]="12" [moduleId]="9" [baseEntityId]="workFlowEntityIds[0]" (attachmentSuccess)="attachmentSuccess($event)" class="attachment"></attachments>
        <reviewDocument-list *ngIf="documentTabEnabled" (documentSubmit)="onDocumentSubmitClick($event)" (documentDelete)="onDocumentDelete($event)" [workrequestId]="requestId" [userDetails]="userDetails"
                             [itemsSource]="documentSource" [entityCategoryId]="entityCategoryId" [enableMenu]="documentEnableMenu" (itemSourceUpdate)="onDocumentSourceUpdated($event)"></reviewDocument-list>

        <reviewEquipment-list *ngIf="equipmentTabEnabled" (itemSourceUpdate)="onEquipmentListSourceUpdated($event)" [itemsSource]="equipmentListSource" [inputItems]="equipmentListInputtems"
                              [itemsPerPage]="equipmentListItemsPerPage" [totalItems]="equipmentListTotalItems" [workRequestId]="requestId" [userDetails]="userDetails" [entityCategoryId]="entityCategoryId" [siteId]="siteId"></reviewEquipment-list>

        <div *ngIf="costTabEnabled">
            <review-Cost *ngIf="costTabEnabled" (onCostSubmit)="onCostSubmit($event)" [workFlowEntityCategoryId]="entityCategoryId" [workFlowEntityIds]="workFlowEntityIds" [requestNumber]="requestNumber"></review-Cost>
        </div>

        <review-TeamMembers *ngIf="teamMemberTabEnabled" (onUpdate)="onTeamMemberUpdate($event)" [currentActionPointId]="currentWorkFlowActionPointId" [workFlowEntityIds]="workFlowEntityIds" [isMultiple]="isMultiple"></review-TeamMembers>

        <div *ngIf="chargebackTabEnabled">
            <chargeback-list *ngIf="chargebackTabEnabled" [workOrderId]="workOrderId"></chargeback-list>
        </div>

        <reviewHistory *ngIf="historyTabEnabled" [workflowEntityId]="workFlowEntityIds[0]"></reviewHistory>

    </tab>-->
</tabs>