<split-view [splitviewObject]="splitViewDataGrid" [pageTitle]="pageTitle">
    <primary-view>
        <tabs [(selectedTab)]="selectedTab" (getSelectedTab)="getSelectedTab($event)" (onTabBeforeClose)="onTabBeforeClose($event)">
            <tab *ngIf="moduleId" tabTitle={{floorTabName}} closeButtonVisible="hidden">
                <submenu *ngIf="selectedTab ==0 && (IsOpenDrawingComponentActive==false)">
                    <sub-menu [menuCard]=true [source]=menuData [menuIds]="enableMenu" (onSubMenuChange)="onSubMenuChange($event);"> </sub-menu>
                </submenu>
                <floor-drawing-list *ngIf="selectedTab ==0 && (IsOpenDrawingComponentActive==false)" [action]="action" [pageTarget]="4" [moduleId]="moduleId" (updateFloorSelectedIds)="updateFloorDrawingSelectedID($event)" [objectCategoryId]="objectCategoryId" [connectivityListInputs]="connectivityListInputs" [BlinkSecondDrawings]="BlinkOutSideDrawings"></floor-drawing-list>
                <opendrawing *ngIf="selectedTab ==0 && (IsOpenDrawingComponentActive==true)" [canvasIdName]="secondCanvasIdName" [loadingIndicatorIdName]="loadingIndicatorIdName" [extDrawingId]="drawingId" [extRevisionNo]="revisionNo" [moduleId]=moduleId [activeModuleIds]=moduleId [pageTarget]=pageTarget [extDrawingType]="drawingType" [extDrawingDetails]="dwgDetails" [extDrawingCategoryId]="drawingCategoryId" (outDrawingobject)="outDrawingObject($event)" (outAssignedEmpIds)="assignedEmpIds($event)" [BlinkSecondDrawings]="BlinkOutSideDrawings" [SecondAssociationId]="AssociationId" [SecondPrimaryObjectId]="PrimaryObjectId" [SecondfieldDetails]="fieldDetails"></opendrawing>
            </tab>
        </tabs>
    </primary-view>
</split-view>

 