<!--<div style="height:100%">
    <DynamicFields supportMultiColumnDispay="true"  draggable="false"  class="two-column" [dataSource]="fieldDetailsPasswordPolicy" (submitFieldObject)="onSubmitData($event)" [btnName]="btnName" (rbnChange)="onRbnChange($event)" (chkChange)="onChkChange($event)"></DynamicFields>
</div>--> 
<style type="text/css">
    .row 
    {
        padding: 10px 20px;
        background-color: #f3f3f3;
        border: 1px solid #f3f3f3;
        border-radius: 3px;
        margin:0px !important;
    }
    .save-button 
    {
        background: #178ae8!important;
        padding: 5px 10px!important;
        color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: auto;
        margin-left: 15px;
        float:left;
        border-radius: 6px!important;
    }
    .save-button:focus {
         outline: 1px solid #00a3e8!important; 
         outline-offset: 3px;
    }       
</style>

<div *ngIf="fieldDetailsPasswordPolicy != undefined">
    <form #form="ngForm" id="form" (ngSubmit)="onSubmit(form,form.value)">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <StringTextBox id="StringTextBox" [style.display]="showComponent(fieldDetailsPasswordPolicy[0].FieldLabel,fieldDetailsPasswordPolicy[0].IsVisible)" name="StringTextBox" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[0] (txtBoxChange)="txtBoxChanges($event)" [inttabIndex]="i" (keyUpemit)="emitKeyUp($event)"></StringTextBox>
            </div>
            <div class="col-xs-6 col-sm-4">
                <CheckBoxComponent id="CheckBoxComponent" [style.display]="showComponent(fieldDetailsPasswordPolicy[1].FieldLabel,fieldDetailsPasswordPolicy[1].IsVisible)" name="CheckBoxComponent" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[1] (chkBoxClick)="chkBoxChange($event)"></CheckBoxComponent>
                <CheckBoxComponent id="CheckBoxComponent" [style.display]="showComponent(fieldDetailsPasswordPolicy[2].FieldLabel,fieldDetailsPasswordPolicy[2].IsVisible)" name="CheckBoxComponent" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[2] (chkBoxClick)="chkBoxChange($event)"></CheckBoxComponent>
                <CheckBoxComponent id="CheckBoxComponent" [style.display]="showComponent(fieldDetailsPasswordPolicy[3].FieldLabel,fieldDetailsPasswordPolicy[3].IsVisible)" name="CheckBoxComponent" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[3] (chkBoxClick)="chkBoxChange($event)"></CheckBoxComponent>
            </div>
            <div class="col-xs-6 col-sm-4">
                <CheckBoxComponent id="CheckBoxComponent" [style.display]="showComponent(fieldDetailsPasswordPolicy[4].FieldLabel,fieldDetailsPasswordPolicy[4].IsVisible)" name="CheckBoxComponent" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[4] (chkBoxClick)="chkBoxChange($event)"></CheckBoxComponent>
                <CheckBoxComponent id="CheckBoxComponent" [style.display]="showComponent(fieldDetailsPasswordPolicy[5].FieldLabel,fieldDetailsPasswordPolicy[5].IsVisible)" name="CheckBoxComponent" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[5] (chkBoxClick)="chkBoxChange($event)"></CheckBoxComponent>
            </div>
        </div>


        <div class="row" style="margin-top:10px!important;">
            <div class="col-xs-6 col-md-4">
                <RadioComponent id="RadioComponent" [style.display]="showComponent(fieldDetailsPasswordPolicy[6].FieldLabel,fieldDetailsPasswordPolicy[6].IsVisible)" name="RadioComponent" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[6] (rbtnClick)="rbtnChange($event)"></RadioComponent>
                <StringTextBox style="padding:2.5px 0px;" id="StringTextBox" [SetAlignment]="horizontal" [style.display]="showComponent(fieldDetailsPasswordPolicy[7].FieldLabel,fieldDetailsPasswordPolicy[7].IsVisible)" name="StringTextBox" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[7] (txtBoxChange)="txtBoxChanges($event)" [inttabIndex]="i" (keyUpemit)="emitKeyUp($event)"></StringTextBox>
            </div>
            <div class="col-xs-12 col-md-8">              
                <StringTextBox style="padding:2.5px 0px;" id="StringTextBox" [SetAlignment]="horizontal" [labelwidth]="300" [style.display]="showComponent(fieldDetailsPasswordPolicy[8].FieldLabel,fieldDetailsPasswordPolicy[8].IsVisible)" name="StringTextBox" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[8] (txtBoxChange)="txtBoxChanges($event)" [inttabIndex]="i" (keyUpemit)="emitKeyUp($event)"></StringTextBox>
                <StringTextBox style="padding:2.5px 0px;" id="StringTextBox" [SetAlignment]="horizontal" [labelwidth]="300" [style.display]="showComponent(fieldDetailsPasswordPolicy[9].FieldLabel,fieldDetailsPasswordPolicy[9].IsVisible)" name="StringTextBox" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[9] (txtBoxChange)="txtBoxChanges($event)" [inttabIndex]="i" (keyUpemit)="emitKeyUp($event)"></StringTextBox>
                <StringTextBox style="padding:2.5px 0px;" id="StringTextBox" [SetAlignment]="horizontal" [labelwidth]="300" [style.display]="showComponent(fieldDetailsPasswordPolicy[10].FieldLabel,fieldDetailsPasswordPolicy[10].IsVisible)" name="StringTextBox" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[10] (txtBoxChange)="txtBoxChanges($event)" [inttabIndex]="i" (keyUpemit)="emitKeyUp($event)"></StringTextBox>
                <StringTextBox style="padding:2.5px 0px;" id="StringTextBox" [SetAlignment]="horizontal" [labelwidth]="300" [style.display]="showComponent(fieldDetailsPasswordPolicy[11].FieldLabel,fieldDetailsPasswordPolicy[11].IsVisible)" name="StringTextBox" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[11] (txtBoxChange)="txtBoxChanges($event)" [inttabIndex]="i" (keyUpemit)="emitKeyUp($event)"></StringTextBox>
                <StringTextBox style="padding:2.5px 0px;" id="StringTextBox" [SetAlignment]="horizontal" [labelwidth]="300" [style.display]="showComponent(fieldDetailsPasswordPolicy[12].FieldLabel,fieldDetailsPasswordPolicy[12].IsVisible)" name="StringTextBox" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[12] (txtBoxChange)="txtBoxChanges($event)" [inttabIndex]="i" (keyUpemit)="emitKeyUp($event)"></StringTextBox>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-6 col-md-4">
                <RadioComponent id="RadioComponent" [style.display]="showComponent(fieldDetailsPasswordPolicy[13].FieldLabel,fieldDetailsPasswordPolicy[13].IsVisible)" name="RadioComponent" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[13] (rbtnClick)="rbtnChange($event)"></RadioComponent>
                <StringTextBox style="padding:5px 0px;" id="StringTextBox" [SetAlignment]="horizontal" [style.display]="showComponent(fieldDetailsPasswordPolicy[14].FieldLabel,fieldDetailsPasswordPolicy[14].IsVisible)" name="StringTextBox" [validationData]='validationData' [fieldObject]=fieldDetailsPasswordPolicy[14] (txtBoxChange)="txtBoxChanges($event)" [inttabIndex]="i" (keyUpemit)="emitKeyUp($event)"></StringTextBox>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                
            </div>

        </div>

        <div style="text-align:left;padding:5px 40px;">
            <button type="submit" showButton="showButton" class="save-button" style="margin-left:0px!important;">{{btnName}}</button>
        </div>
    </form>
        <!--<ButtonComponent [style.display]="showComponent(field.FieldLabel,field.IsVisible)" [fieldObject]=field (btnChange)="getBtnChanges($event)"></ButtonComponent>-->
</div>
