<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider Name="urn:indus:iDrawings"
                     Description="iDrawings as sp"
                     AssertionConsumerServiceUrl="~/SAML/AssertionConsumerService"
                     LocalCertificateFile=""
                     LocalCertificatePassword=""/>
  <PartnerIdentityProviders>
    <PartnerIdentityProvider Name="https://login.cfpb.local/iwms"
                   SingleSignOnServiceUrl="https://login.cfpb.local/iwms"
                                 Description="SecureAuth as Idp"
                                 SignAuthnRequest="false"
                                 WantSAMLResponseSigned="true"
                                 WantAssertionSigned="false"
                                 WantAssertionEncrypted="false"
                                 SingleLogoutServiceUrl="https://login.cfpb.local/iwms"
                                 PartnerCertificateFile="Certificates\Idp.cer"/>
  </PartnerIdentityProviders>
</SAMLConfiguration>