<div>
    <DropDownListComponent *ngIf="ddlUserCategory" [fieldObject]="ddlUserCategory" (change)="onChangeUserCategory($event.target.value)" [SetAlignment]=alignContent></DropDownListComponent>
    <div style="width:100%;display: inline-flex;">
        <div style="display: block;width:7%;float:left;margin-left:10px;">
            <button  class="Savebutton "style="float:right;" type="button" (click)="insertInviteesList($event)" title="Save">Save</button>
        </div>
    </div>
    <div style="height:5px">&nbsp;</div>
    <div style="height:70%;"><gridView [dataSource]="itemsSource" [properties]="inputItems" [columns]="fieldObject" (onSorting)="onSort($event)"></gridView></div>
    <div style="height:20%;"><paging [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (onPageChanged)="pageChanged($event);"></paging></div>
</div>
