<page [pagetitle]="pagePath" [withoutSubmenu]="true">
    <content>
        <tabs [selectedTab]="selectedTab" [deleteIndex]="tabDeleteIndex" (getSelectedTab)="getSelectedTab($event)">
            <tab tabTitle="Approval Requests" closeButtonVisible="hidden">
                <div>
                    <submenu>
                        <sub-menu [source]=menuData [menuCard]=types [count]=totalItems [menuIds]=enableMenu (onSubMenuChange)="onSubMenuChange($event)"> </sub-menu>
                    </submenu>
                    <split-view [splitviewObject]="splitviewInput" [pageTitle]="splitViewTitle" style="height: calc(100% - 35px);">
                        <primary-view>
                            <div>
                                <div [ngClass]="activeTotalItems > activeItemsPerPage ? 'pagewithPaging':'pagewithoutPaging'">
                                    <gridView style="width:100%" [(dataSource)]="activeItemsSource" [properties]="activeInputItems" [columns]="fieldObject"
                                              (onSorting)="onActiveSort($event)"></gridView>
                                </div>
                                <div>
                                    <paging [totalItems]="activeTotalItems" [itemsPerPage]="activeItemsPerPage" (onPageChanged)="activePageChanged($event)"></paging>
                                </div>
                            </div>
                        </primary-view>
                        <secondary-view *ngIf="secondaryTarget == 0">

                        </secondary-view>
                    </split-view>
                </div>
            </tab>
            <tab tabTitle="Review Request" *ngIf="reviewTabEnabled" closeButtonVisible="hidden">
                <review-AssignRequest *ngIf="reviewRequestEnabled" (submitClick)="onSubmitClick($event)" [action]="action" [btnName]="btnName" [inputItems]="activeInputItems"
                                    [fieldDetailsAdd]="reviewFields" [outComeData]="outcomeData" [employeeData]="employeeData" [employeeitemsSource]="employeeData" [employeeDetailsfieldObject]="employeeDetailsfieldObject" (linkClick)="onLinkClick()"></review-AssignRequest>
            </tab>
        </tabs>
    </content>
</page>
