<!--<table >
    <tr>
        <td  *ngFor="let cell of fields" style="border:1px solid #808080">
            <div *ngIf="cell.IsEnabled==true" style="width:200px">
                <label style="text-align:center">{{//cell.FieldLabel}}</label>
            </div>
        </td>
    </tr>
</table>
<table>
    <tr *ngFor="let cell of fieldData">
        <td>

        </td>
    </tr>
</table>-->

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th {
        border: none;
        text-align: left;
        padding: 8px;
        min-width: 200px;
        font-size: 14px;
    }

    td {
        border: none;
        text-align: left;
        padding: 8px 12px;
        min-width: 200px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div style="width:100%;">
    <div style="width:100%;" *ngIf="disableButton==false">
        <button  class="Savebutton" type="button" style="margin:5px 0px 5px 0px;font-size:14px;height:24px;" (click)="update()" value="Save Changes">Save Changes</button>
    </div>
    <div style="width:100%;" *ngIf="disableButton">
        <button  class="Savebutton" type="button" disabled style="margin:5px 0px 5px 0px;font-size:14px;height:24px;" (click)="update()" value="Save Changes">Save Changes</button>
    </div>


    <div style="overflow-x:auto;height:auto;overflow-y:auto;overflow-x:auto;max-height:550px">
        <table>
            <tr>
                <th *ngFor="let cell of fieldObject" [style.display]=displayOfHeader(cell)>
                    {{cell.FieldLabel}}
                </th>
            </tr>

            <tr *ngFor="let item of itemSource">
                <td *ngFor="let new of fieldObject" [style.display]=displayOfHeader(new)>
                    <ColorPicker [showLabel]=false id="ColorPicker" name="ColorPicker" (colorPickerValueChange)="onChangeInput($event,item,new.FieldLabel)" *ngIf="new.DataEntryControlId == '11'" [fieldObject]="updateField(new,item)"></ColorPicker>
                    <Hatch-Pattern *ngIf="new.DataEntryControlId == '14'" [fieldObject]="updateField(new,item)"></Hatch-Pattern>
                    <LabelComponent *ngIf="new.DataEntryControlId == '1'" [fieldObject]="updateField(new,item)"></LabelComponent>
                </td>
            </tr>

        </table>
    </div>
</div>


