<style>
        .diablemenu {
            pointer-events: none;
            cursor: default;
            opacity: .5;
        }

        #slideout {
            /*position: fixed;
          top: 40px;
          left: 0;*/
            position: fixed;
            right: 105px;
            z-index: 1000;
            text-align: center;
            margin: -20px;
            padding: 20px;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

        #slideout_inner {
            position: fixed;
            top: 40px;
            left: -250px;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

        #slidekey:hover + #slideout {
            display: block;
        }
        /*#slideout:hover #slideout_inner {
          left: 0;
        }*/

        :host label {
            font-weight: normal !important;
            margin-bottom: 1px !important;
        }

        .classSearch {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
        }

        .hideSearch {
            display: none;
        }

        /*.filter-content {
        z-index:100;
        background-color: #ffffff;
        overflow: auto;
        right: 5px;
        border-radius:3px;
        -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.38);
        -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.38);
        box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.38);
    }*/
        .filterbtn :focus {
            outline: 1px solid #00a3e8 !important;
            outline-offset: 3px;
        }

        .Div-1687 #dateContainerDiv {
            position: absolute;
        }

        .Div-1688 #dateContainerDiv {
            position: absolute;
        }
</style>

<div style="float:right;padding-top:2px;height:20px;">
    <div *ngIf="KeywordFields!=null && KeywordFields !=undefined && Customsearch!=true" style="float:left;" [class.diablemenu]="checkDisable()">
        <div class="input-field col s12" [ngClass]="showStyle =='block' ?'hideSearch':'classSearch'">

            <KeywordTextBoxSearch *ngIf="smartSearch!=true" [keyWordLookupValue]=keyWordLookupValues [Key]=Key id="StringTextBox" name="StringTextBox" [Keyword]=true [fieldObject]=KeywordFields (KeyClick)="onKeysearch()"></KeywordTextBoxSearch>

            <div *ngIf="smartSearch" id="slideout" style="" [style.display]=showKeywordSearch [style.width.px]=showKeywordSearchwidth>
                <KeywordTextBoxSearch [keyWordLookupValue]=keyWordLookupValues [Key]=Key id="StringTextBox" name="StringTextBox" [Keyword]=true [fieldObject]=KeywordFields (KeyClick)="onKeysearch()" [smartSearch]="smartSearch"></KeywordTextBoxSearch>
            </div>
            <input role="menu" tabindex="0" *ngIf="smartSearch" (click)="onshowKeywordSearch()" id="slidekey" type="image" src="Content/Icons/keyword_searcH.png" title="Keyword Search" class="filterbtn" />
            <input role="menu" tabindex="0" *ngIf="advancesearch" type="image" src="Content/Icons/advanced-search.png" title="Advanced Search" (click)="showFilter()" class="filterbtn" />
        </div>
    </div>
    <div *ngIf="Customsearch==true" style="float:left;" [class.diablemenu]="checkDisable()">
        <div class="input-field col s12" [ngClass]="showStyle =='block' ?'hideSearch':'classSearch'">
            <a *ngIf="advancesearch" id="filter-search" (click)="showFilter()" (keypress)="getAnchorTagEnter(1,$event);" tabindex="0" style="color:blue;cursor:hand;cursor:pointer;text-decoration:underline;">{{linkname}}</a>
        </div>
    </div>
    <div class="filtercustom" *ngIf="advancesearch" style="max-height:500px;" [style.margin-left]="marginLeftFilter">
        <div id="myfilter" [ngClass]="Classname" [style.display]="showStyle" style="overflow:hidden;max-height:420px;">
            <split-view [splitviewObject]=splitviewInput [showButton]=false [pageTitle]="'Configure'">
                <primary-view>
                    <div>
                        <div tabindex="0" [attr.aria-label]="Title" style="height:25px;width:100%;background-color:#178AE8">
                            <span style="margin-left:10px;font-weight:bold;line-height: 25px;color:white;font-size: 13px;">{{Title}}</span>
                            <span aria-label="X button close search window" tabindex="0" style="" class="closeSearch" (keypress)="onCloseClickFilter($event);" (click)=onClose()>X</span>
                            <img *ngIf="Customsearch!=true && isShowConfigure" (click)=showConfig($event) title="Configure" src="Content/Icons/filter-config-icon.png" style="height: 22px;width: 22px;margin: 1px 10px;text-align:right;float:right" />
                        </div>
                        <div style="max-height:375px;height:auto">
                            <div *ngIf="Fromdate[0] != undefined && showStyle=='block'" class="FromToDateScheduling" style="height:35px;display:flex;width:100%;padding-top:4px;padding-left:15px;margin-bottom:10px">
                                <div class="FromDateScheduling" style="display:inline-flex;">
                                    <DateComponent [disableDates]="disableDates" id="fromDate" *ngIf="Fromdate[0]!=undefined" [validationData]='validationData'  [showDateOnLoad]="true" [fieldObject]="Fromdate[0]" (datepickerOut)="divClicked($event,1)" [SetAlignment]="horizontal" [isClearDateValue]=false ></DateComponent>
                                    &nbsp;&nbsp;<DropDownListComponent id="fromtimeseat" *ngIf="FromTime[0]!=undefined" [validationData]='validationData' [fieldObject]="FromTime[0]" (change)="onChangefrom($event.target.value)" ShowSelectOption="false"></DropDownListComponent>
                                    &nbsp; to &nbsp;
                                </div>
                                <div class="ToDateScheduling" style="display:inline-flex;">
                                    <DropDownListComponent id="totimeseat" *ngIf="ToTime[0]!=undefined" [fieldObject]="ToTime[0]" [validationData]='validationData' ShowSelectOption="false"></DropDownListComponent>
                                    &nbsp;&nbsp;<DateComponent [disableDates]="disableDates" id="toDateSearchcustomesearch" *ngIf="Todate[0]!=undefined" [validationData]='validationData' [showDateOnLoad]="true" [fieldObject]="Todate[0]" (datepickerOut)="divClicked($event,2)" [SetAlignment]="horizontal" (dateIconClick)="Iconclicked($event)" [isClearDateValue]=false></DateComponent>
                                </div>
                            </div>
                            <form #form="ngForm" (ngSubmit)="onSubmit(form,form.value)">
                                <div style="margin-left:0px;overflow-y:auto;overflow-x:hidden;float:left;width:100%;" class="SearchControl">
                                    <div *ngFor="let field of datasource2" class="MainContainer">
                                        <div *ngIf="field.DataEntryControlId == '1' && field.IsVisible == true && field.GenericDataTypeId!=4 && field.GenericDataTypeId!=5" class="col-sm-6" style="margin-top:5px;">
                                            <StringTextBoxSearch id="StringTextBox" [validationData]='validationData'  name="StringTextBox" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '1' && field.IsVisible == true && field.GenericDataTypeId==4" class="col-sm-6" style="margin-top:5px;">
                                            <NumericTextBoxSearch id="NumericTextBox" [validationData]='validationData'  name="NumericTextBox" [fieldObject]=field [fieldValue]="field.FieldValue"></NumericTextBoxSearch>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '1' && field.IsVisible == true && field.GenericDataTypeId==5" class="col-sm-6" style="margin-top:5px;">
                                            <IntegerTextBoxSearch id="IntegerTextBox" [validationData]='validationData'  name="IntegerTextBox" *ngIf="field.DataEntryControlId == '1'" [fieldObject]=field></IntegerTextBoxSearch>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '3' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                            <StringTextBoxSearch id="StringTextBox" [validationData]='validationData'  name="StringTextBox" *ngIf="field.DataEntryControlId == '3'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '4' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                            <StringTextBoxSearch id="StringTextBox" [validationData]='validationData'  name="StringTextBox" *ngIf="field.DataEntryControlId == '4'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '6' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                            <StringTextBoxSearch id="StringTextBox" [validationData]='validationData'  name="StringTextBox" *ngIf="field.DataEntryControlId == '6'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '5' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                            <StringTextBoxSearch id="StringTextBox" [validationData]='validationData'  name="StringTextBox" *ngIf="field.DataEntryControlId == '5'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '2' && field.IsVisible == true" class="col-sm-12" style="margin-top:5px;">
                                            <DateSearchComponent id="Datecomponent" [validationData]='validationData'  name="Datecomponent" *ngIf="field.DataEntryControlId == '2'" [fieldObject]=field></DateSearchComponent>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '8' && field.IsVisible == true" class="col-sm-12" style="margin-top:5px;display:block;">
                                            <DateTimeSearchComponent id="DateTimeComponent" [validationData]='validationData'  name="DateTimeComponent" *ngIf="field.DataEntryControlId == '8'" [fieldObject]=field></DateTimeSearchComponent>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '7' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;display: table;">
                                            <ListBoxComponentSearch id="ListBoxComponent" [style.display]="showComponent(field.FieldLabel,field.IsVisible)" name="ListBoxComponent" *ngIf="field.DataEntryControlId == '7'" [validationData]='validationData' [fieldObject]=field [strLstBoxValidateMessage]=strLstBoxValidateMessage (lstBox)="listBoxChange($event)" (selAll)="SelectAllChange($event)" [blnSelectAllVisible]=false></ListBoxComponentSearch>
                                            <!--<StringTextBoxSearch id="StringTextBox" name="StringTextBox" *ngIf="field.DataEntryControlId == '7'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>-->
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '9' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                            <StringTextBoxSearch id="StringTextBox" name="StringTextBox" [validationData]='validationData'  [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                                        </div>
                                        <div *ngIf="field.DataEntryControlId == '20' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                            <RadioComponent id="RadioComponent" name="RadioComponent" *ngIf="field.DataEntryControlId == '20'" [fieldObject]=field></RadioComponent>
                                        </div>
                                    </div>
                                </div>
                                <div style="width:100%;float:right;display:block;height:20px;line-height:20px;margin:15px;">
                                    <ButtonComponent role="button" id="button-search" (click)="onSubmit($event)" (keypress)="getAnchorTagEnter(2,$event);" tabindex="0" class="Savebutton" style="margin-left:35px;float:left;width:80px;text-align:center;border-radius: 4px;padding: 3px;cursor: pointer;" title="Search">Search</ButtonComponent>
                                    <ButtonComponent role="button" id="button-cancel" (click)="onClear($event)" (keypress)="getAnchorTagEnter(3,$event);" tabindex="0" class="Savebutton" style="margin-left:10px;float:left;width:80px;text-align:center;border-radius: 4px;padding: 3px;cursor: pointer;" title="Clear">Clear</ButtonComponent>
                                    <img *ngIf="searchtype!='Grid'" (click)="onSaveAs($event)" title="Save As" src="Content/Layout/add_data_button.png" style="height:24px;width:24px;margin-left:5px;" />
                                    <img *ngIf="searchtype!='Grid'" (click)="onDelete($event)" title="Delete" src="Content/Layout/delete_button.png" style="height:24px;width:24px;margin-left:5px;" />
                                </div>
                            </form>
                        </div>
                    </div>
                </primary-view>
                <secondary-view>
                    <div *ngIf="splitviewInput.showSecondaryView">
                        <div style="height:20px;">{{message}}</div>
                        <div style="height:80%;overflow-y: auto;border:1px solid #808080;">
                            <table role="grid">
                                <tr *ngFor="let field of (datasource2|displayPipe:dataKey)" style="height: 37px;border:1px solid #808080;width:300px;">
                                    <td scope="col" style="width: 25px!important;padding:0px 10px; align-self:center">
                                        <input [disabled]=field.IsDisabled [checked]="field.IsVisible" id="fieldObject.FieldId" type="CheckBox" #chk1 (click)="onConfig(chk1,field)" [(ngModel)]="field.IsVisible">
                                    </td>
                                    <td scope="col" style="width: 290px;padding:0px 10px;font-family:sans-serif;font-size: 14px;">
                                        <div style="margin-left 10px;">
                                            {{field.FieldLabel}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </secondary-view>
            </split-view>
        </div>
    </div>
</div>

<div class="filter" *ngIf="advancesearchForm">
    <split-view [splitviewObject]=splitviewInput [showButton]=false>
        <primary-view>
            <div>
                <form #form="ngForm" (ngSubmit)="onSubmit(form,form.value)">
                    <div style="padding:5px;margin-left:0px;overflow-y:auto;overflow-x:hidden;float:left;width:100%;" class="SearchControl">
                        <div *ngFor="let field of datasource2" class="MainContainer">
                            <div *ngIf="field.DataEntryControlId == '1' && field.IsVisible == true && field.GenericDataTypeId!=4 && field.GenericDataTypeId!=5" class="col-sm-6" style="margin-top:5px;">
                                <StringTextBoxSearch id="StringTextBox" name="StringTextBox" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '1' && field.IsVisible == true && field.GenericDataTypeId==4" class="col-sm-6" style="margin-top:5px;">
                                <NumericTextBoxSearch id="NumericTextBox" name="NumericTextBox" [fieldObject]=field [fieldValue]="field.FieldValue"></NumericTextBoxSearch>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '1' && field.IsVisible == true && field.GenericDataTypeId==5" class="col-sm-6" style="margin-top:5px;">
                                <IntegerTextBoxSearch id="IntegerTextBox" name="IntegerTextBox" *ngIf="field.DataEntryControlId == '1'" [fieldObject]=field></IntegerTextBoxSearch>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '3' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                <StringTextBoxSearch id="StringTextBox" name="StringTextBox" *ngIf="field.DataEntryControlId == '3'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '4' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                <StringTextBoxSearch id="StringTextBox" name="StringTextBox" *ngIf="field.DataEntryControlId == '4'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '6' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                <StringTextBoxSearch id="StringTextBox" name="StringTextBox" *ngIf="field.DataEntryControlId == '6'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '5' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                <StringTextBoxSearch id="StringTextBox" name="StringTextBox" *ngIf="field.DataEntryControlId == '5'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '2' && field.IsVisible == true" class="col-sm-12" style="margin-top:5px;">
                                <DateSearchComponent id="Datecomponent" name="Datecomponent" *ngIf="field.DataEntryControlId == '2'" [fieldObject]=field></DateSearchComponent>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '8' && field.IsVisible == true" class="col-sm-12" style="margin-top:5px;display:block;">
                                <DateTimeSearchComponent id="DateTimeComponent" name="DateTimeComponent" *ngIf="field.DataEntryControlId == '8'" [fieldObject]=field></DateTimeSearchComponent>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '7' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                <StringTextBoxSearch id="StringTextBox" name="StringTextBox" *ngIf="field.DataEntryControlId == '7'" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                            </div>
                            <div *ngIf="field.DataEntryControlId == '9' && field.IsVisible == true" class="col-sm-6" style="margin-top:5px;">
                                <StringTextBoxSearch id="StringTextBox" name="StringTextBox" [fieldObject]=field [fieldValue]="field.FieldValue"></StringTextBoxSearch>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%;float:right;display:block;height:20px;line-height:20px;margin:15px;">
                        <ButtonComponent role="button" id="button-search" (click)="onSubmit($event)" (keypress)="getAnchorTagEnter(2,$event);" tabindex="0" class="Savebutton" style="margin-left:35px;float:left;width:80px;background-color:#273040;color:white;text-align:center;border-radius: 4px;padding: 3px;cursor: pointer;" title="Search">Search</ButtonComponent>
                        <ButtonComponent role="button" id="button-cancel" (click)="onClear($event)" (keypress)="getAnchorTagEnter(3,$event);" tabindex="0" class="Savebutton" style="margin-left:5px;float:left;width:80px;background-color:#273040;color:white;text-align:center;border-radius: 4px;padding: 3px;cursor: pointer;" title="Clear">Clear</ButtonComponent>
                    </div>
                </form>
            </div>
        </primary-view>
        <secondary-view>
        </secondary-view>
    </split-view>
</div>


<div [style.display]="showStyle" class="background-block" (click)="showFilter()" style="z-index:5 !important"></div>