:host {
    display: block;
    height: calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: -moz-calc(100% - 35px);
}
.canvas {
    width: 100%;
    height: 100%;
    padding: 0;
}

.signal {
    border: 5px solid #333;
    border-radius: 30px;
    border-color: #178AE8;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 30px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
.markupicons {
    width: 24px;
    height: 24px;
}

.icon {
    display: inline-block;
    padding: 2px 2px;
    text-decoration: initial;
    color: black;
    cursor:pointer;
}
.mainDiv {
    width:100%;
    background-color:#ededed ;
    display:inline-block;
    height:35px;
    padding-top:3px;
    overflow:hidden;
}
div.icon:hover {
     color: #fff;
  background: #178ae8;
}
div.icon {
        color: black;
}