 <sub-menu [source]=menuData [menuCard]=iscard [count]=totalItems [menuIds]=enableMenu [isVertical]=true (onSubMenuChange)="onSubMenuChange($event);"> </sub-menu>
    <div id="canvas-container" style="height:99%;float:right;width:calc(100% - 35px)">
        <canvas id="iWhizFlowchartCanvas" oncontextmenu="return false;" title="" class="canvas" style="background-color:black" #iWhizFlowchartCanvas></canvas>
        <div id="loading-indicator" colspan="5" class="signal" style="position: absolute; left: 50%; top: 50%; color: grey;"></div>
    </div>
<!--<submenu>
    <sub-menu [source]=menuData [menuCard]=iscard [count]=totalItems [menuIds]=enableMenu (onSubMenuChange)="onSubMenuChange($event);"> </sub-menu>
</submenu>
<div id="dwgView">
    <div id="canvas-container" style="height:99%;">
        <canvas id="iWhizFlowchartCanvas" oncontextmenu="return false;" class="canvas" style="background-color:black" #iWhizFlowchartCanvas></canvas>
        <div id="loading-indicator" colspan="5" class="signal" style="position: absolute; left: 50%; top: 50%; color: grey;"></div>
    </div>
</div>-->