<div style="height: 93%">
    <submenu>
        <sub-menu [source]=menuData [menuCard]=types [count]=totalItems [menuIds]=enableMenu (onSubMenuChange)="onSubMenuChange($event);"> </sub-menu>
    </submenu>
    <split-view [splitviewObject]="splitviewInput" [pageTitle]="pageTitle" style="height: calc(100% - 75px);">
        <primary-view>
            <div style="height:100%;">
                <div [ngClass]="totalItems > itemsPerPage ? 'pagewithPaging':'pagewithoutPaging'">
                    <gridView style="width:100%" [(dataSource)]="itemsSource" (onCellEdit)="onCellUpdate($event)" [properties]="inputItems" [columns]="fieldObject"></gridView>
                </div>
            </div>
        </primary-view>
        <secondary-view *ngIf="secondaryTarget == 0">
            <DynamicFields [dataSource]="fieldDetailsAdd1" (submitFieldObject)="onOtherCostSubmit($event)" [btnName]="btnName" [dataKey]="dataKey"></DynamicFields>
        </secondary-view>
        <secondary-view *ngIf="secondaryTarget == 1">

        </secondary-view>
    </split-view>
    <slide [width]="slidewidth" [position]="position" [show]="showSlide" (closeDialog)="closeSlideDialog($event)">
        <div>
            <div>Are you sure you want to delete the selected Cost?  </div>
            <div style="width:100%">
                <button  class="Savebutton "type="button" (click)="okDelete($event)">Yes</button>
                <button  class="Savebutton "type="button" (click)="cancelClick($event)">No</button>
            </div>
        </div>
    </slide>
</div> 