<div>
      <split-view [splitviewObject]="splitviewInput" [pageTitle]="pageTitle" style="height: calc(100% - 35px);">
        <primary-view>
            <div>
                <submenu>
                    <sub-menu [source]=menuData [count]=totalItems [menuIds]=enableMenu (onSubMenuChange)="onSubMenuChange($event);" [menuCard]=types> </sub-menu>
                </submenu>
                <div style="width:50%;padding-bottom:1%;float:left;">
                    <DropDownListComponent *ngIf="ddlAdditionalCharge !=undefined" [fieldObject]="ddlAdditionalCharge" (change)="onChnageAdditionalCharge($event.target.value)"></DropDownListComponent>
                </div>
                <div style="height: calc(100% - 100px);">
                    <div *ngIf="ddlChangeFlag > 0" [ngClass]="totalItems > itemsPerPage ? 'pagewithPaging':'pagewithoutPaging'">
                        <slide [width]="200" [position]="position" [type]="dialog" [show]="showSlide" (closeDialog)="closeSlideDialog($event)">

                            <div>
                                <div>
                                    {{message}}
                                </div>
                                <div>

                                    <div style="width:100%">
                                        <button  class="Savebutton "type="button" (click)="okDelete($event)">Yes</button>
                                        <button  class="Savebutton "type="button" (click)="cancelClick($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </slide>
                        <gridView [(dataSource)]="itemsSource" [properties]="inputItems" [columns]="fieldObject" [refreshgrid]="refreshgrid" (onSorting)="onSort($event)" (onRowDelete)="inlineDelete($event)"></gridView>
                    </div>
                    <div [style.height]="totalItems >itemsPerPage ? '35px' : '0px'">
                        <paging [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (onPageChanged)="pageChanged($event);"></paging>
                    </div>
                </div>
            </div>
        </primary-view>
        <secondary-view>
            <additional-charge-rates-add-edit (submitSuccess)="submitReturn($event)" [action]="action" [btnName]="btnName" [selectedId]="inputItems.selectedIds" [fieldDetailsAdd]="fieldDetailsAdd1" [selectedAdditionalChargeId]="selectedAdditionalChargeId" [totalItems]="totalItems" [fromToCheckFlag]="fromToCheckFlag"></additional-charge-rates-add-edit>
        </secondary-view>
    </split-view>
</div> 

