<div>
    <div>
        <div style="text-overflow:ellipsis;width:690px;overflow:hidden;" [title]="'Document Group '+DocumentGroupName" tabindex="0">Document Group:&nbsp;<b>{{DocumentGroupName}}</b></div>
    </div>
    <div>
        <tabs [selectedTab]="selectedTab" (getSelectedTab)="getSelectedTab($event)" (onTabClose)="onTabClose($event)" [deleteIndex]="deleteIndex" id="DocumentGroup">
            <tab [tabTitle]="tabTitle" closeButtonVisible="hidden">
                <div>
                    <submenu>
                        <sub-menu [menuCard]=types [source]=menuData [count]=totalItems [menuIds]=enableMenu (onSubMenuChange)="onSubMenuChange($event);"> </sub-menu>
                    </submenu>
                </div>
                <div *ngIf="itemsSource != undefined" style="height:calc(100% - 75px)">
                    <div [ngClass]="totalItems > itemsPerPage ? 'pagewithPaging':'pagewithoutPaging'">
                        <gridView [(dataSource)]="itemsSource" [properties]="inputItems" [columns]="fields" (onSorting)="onSort($event)"></gridView>
                    </div>
                    <div [style.height]="totalItems >itemsPerPage ? '35px' : '0px'">
                        <paging [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (onPageChanged)="pageChanged($event);"></paging>
                    </div>
                </div>
            </tab>
            <tab [tabTitle]="selectTabTitle" *ngIf="newUserTab == true" closeButtonVisible="hidden">
                <div><documentsfor-documentGroups-mainList [DocumentGroupId]="documentgroupId" (submitSuccess)="submitSuccess($event)"></documentsfor-documentGroups-mainList></div>
            </tab>
        </tabs>
    </div>
</div>
<slide [width]="200" [position]="position" [type]="dialog" [show]="showSlide" (closeDialog)="closeSlideDialog($event)">

    <div style="width:200px">
        <div tabindex ="0" aria-label="Are you sure you want to remove the selected Document(s) from the Document Group?">
            {{deleteMsg}}
        </div>
        <div>

            <div style="width:100%">
                <button class="Savebutton " type="button" (click)="okDelete($event)" role="button" aria-label="Yes">Yes</button>
                <button class="Savebutton " type="button" (click)="cancelClick($event)" role="button" aria-label="No">No</button>
            </div>
        </div>
    </div>
</slide>

<style>
    #DocumentGroup .navbar li {
        width: 230px !important;
    }
</style>