<page [pagetitle]="pagePath" [withoutSubmenu]="true">
    <content>
        <tabs [selectedTab]="selectedTab" (getSelectedTab)="getSelectedTab($event)" class="assetTab">
            <tab tabTitle="All" closeButtonVisible="hidden">
                <objectData-list *ngIf="selectedTab == 0" [objectCategoryId]="11" [moduleId]="26" [dataOption]="1" (ChangePagepath)="pagepathchange($event)"></objectData-list>
            </tab>
            <tab tabTitle="Operational" closeButtonVisible="hidden">
                <floor-selection *ngIf="selectedTab == 1 && (floorSelected==false)" [moduleId]="26" (btnClickOut)="getSelectedIds($event)"></floor-selection>
                <objectData-list *ngIf="selectedTab == 1 && (floorSelected==true)" [objectCategoryId]="11" [moduleId]="26" [dataOption]="2" [drawingIds]="selectedDrawingIds" (ChangePagepath)="pagepathchange($event)">></objectData-list>
            </tab>
            <tab tabTitle="Warehoused" closeButtonVisible="hidden">
                <objectData-list *ngIf="selectedTab == 2 && (floorSelected==false)" [objectCategoryId]="11" [moduleId]="26" [dataOption]="3" (ChangePagepath)="pagepathchange($event)">></objectData-list>
            </tab>
        </tabs>
    </content>
</page>
